{% load static %}

<link rel="stylesheet" href="{% static 'web/css/components/hero_section/hero_section.css' %}">

<section class="hero">
    <div class="hero-text">
      <h4>Frequent authentication</h4>
      <h1>Build products that<br>users will really love</h1>
      <p>Transform your workflow with our intuitive platform designed for high-performing teams. Ship faster, collaborate better, and scale with confidence of a professional.</p>
      <div class="buttons">
        <button class="btn btn-primary">Get Started</button>
        <button class="btn btn-secondary">Watch Demo</button>
      </div>
      <div class="trusted">
        Trusted by 50,000+ teams
        <div class="avatars">
          <img src="https://i.pravatar.cc/28?img=1" alt="avatar1" />
          <img src="https://i.pravatar.cc/28?img=2" alt="avatar2" />
          <img src="https://i.pravatar.cc/28?img=3" alt="avatar3" />
          <img src="https://i.pravatar.cc/28?img=4" alt="avatar4" />
        </div>
      </div>
    </div>
    <div class="hero-image">
      <div class="image-blur-top-left"></div>
      <img
        src="https://images.unsplash.com/photo-1521737711867-e3b97375f902?auto=format&fit=crop&w=987&q=80"
        alt="developer working"
      />
    </div>
</section>