{% extends 'web/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Sign Up{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'web/css/features/login/login.css' %}">
    <script src="//accounts.google.com/gsi/client" async defer></script>
{% endblock %}

{% block content %}
    <div id="logContainer">
        <h1 id="logH">Create an Account</h1>
        <p id="logTxt">Join us today!</p>

        <form method="post" action="{% url 'web:registration' %}">
            {% csrf_token %}
            <div style="margin-top: 30px;">
                <p class="logTxt">Name</p>
                {{ form.name }}

                <p class="logTxt">Email</p>
                {{ form.email }}

                <p class="logTxt">Password</p>
                {{ form.password }}

                <p class="logTxt">Confirm Password</p>
                {{ form.password2 }}
                
                
            </div>

            <div>
                <button type="submit" class="btnSI">Sign Up</button>
            </div>
        </form>

        <div class="divider"><span>Or</span></div>

        <button class="btnIcon">
            <a class="signInWith" href="{% provider_login_url "google" %}">
                <img src="{% static 'web/img/google-icon.png' %}" alt="Google Icon" class="iconImg">
                Sign up with Google
            </a>
        </button>

        <div id="g_id_onload"
             data-client_id="160197012428-jfhsli9au8r8nu4k70pmbv3kqcr105v7.apps.googleusercontent.com"
             data-login_uri="{% url 'google_login_by_token' %}"
             data-auto_prompt="false">
        </div>

        <p id="rightsReserved">© 2023 ALL RIGHTS RESERVED</p>
    </div>
{% endblock %}
